<nav class="blog-pagination" aria-label="Pagination">
  <%= link_to_next_page @posts, t('app.pagination.next'), class: 'btn btn-outline-primary' %>
  <%= link_to_previous_page @posts, t('app.pagination.previous'), class: 'btn btn-outline-primary' %>
</nav>