<nav class="blog-pagination" aria-label="Pagination">
  <%= link_to_next_page @posts, 'Older', class: 'btn btn-outline-primary' %>
  <%= link_to_previous_page @posts, 'Newer', class: 'btn btn-outline-primary' %>
</nav>