<footer class="blog-footer">
  <p>Blog template inspired by <a href="https://getbootstrap.com/">Bootstrap</a></p>
  <p>developer <a href="https://github.com/felipe-salomao">@Felipe Salomao</a></p>
  <p>
    <a href="#">Back to top</a>
  </p>
</footer>